@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 
@model Category

@* 
<table>
    <tr>
        <td>Name</td>
        <td>
             
          

            @Html.EditorFor(s=>s.Name) 
        </td>
    </tr>

    <tr>
        <td>Rating</td>
        <td>
            @Html.EditorFor(Model => Model.Rating)
        </td>
    </tr>

    <tr>
        <td>
            <input type="submit" value="create" class="btn btn-primary"/>
        </td>
    </tr>

</table>
 
 *@

<h1>Create Customer</h1>

@* <form> *@

@using (Html.BeginForm("Create","Category",FormMethod.Post)){
    <div class="mb-3">

        @Html.LabelFor(Model=>Model.Name,new{@class="form-label"})
        @Html.EditorFor(model=>model.Name,new{@class="form-label"})
    </div>
   
    <div class="mb-3">

        @Html.LabelFor(Model => Model.Rating, new { @class = "form-label" })
        @Html.EditorFor(model => model.Rating, new { @class = "form-label" })

    </div>


    <button type="submit" class="btn btn-primary">Create</button>
}
@* </form> *@

 @Html.ActionLink("BackToList","Index","Category")