<p>Category Edit View Page</p>



<p>Name : @ViewBag.Name</p>
<p>Email : @ViewBag.Email</p>
<p>Age : @ViewBag.Age</p>

<a asp-action="Index" asp-controller="Category" class="btn btn-primary">Category Home Page</a>

<h3>Complex Data</h3>


<p>Name : @ViewBag.customer.Name</p>
<p>Email : @ViewBag.customer.Email</p>
<p>Age : @ViewBag.customer.Age</p>